@charset "UTF-8";
/* Globais */
/* Versão mobile first (Versão para 500px de altura e 320 de largura*/
:root{
    --fonte01: "Hanken Grotesk", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #ECF2FF;
    font-family: var(--fonte01);
    
}
/* MAIN */
main.container{
    width: 500px;
    height: 100vh;
}
/* Seção cabeçalho */
section.cabecalho{
    /* Flexbox */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* Outras configurações */
    background-color: #6040FD;
    color: white;
    border-radius: 0px 0px 40px 40px;
    height: 40%;
}
section.cabecalho h1{
    color: #CAC2FF;
    font-size: 1em; /* Afasta a div de pontos */
}
div.pontuacao{
    width: 100px; /* Largura e altura iguais */
    height: 100px;
    border-radius: 50%; /* Deixando a div em formato de círculo */
    /* Flexbox */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* Outras configurações */
    background-color: #4B25D0;
}
div.pontuacao p.ponto{ /* "76" */
    font-size: 2.5em;
    font-weight: 700;
}
div.pontuacao p.ponto_total{ /* "of 100 */
    font-size: 1em;
    color: #867AFF;
}
section.cabecalho div.feedback{ /* Mensagem de feedback */
    font-size: 1em;
    font-weight: 700;
}
section.cabecalho p.mensagem{
    color: #A6A3FF;
    font-weight: 500;
}


/* Seção pontos */
section.pontos{
    height: 60%; /* 60% Para somar 100% com o restante da seção de cabeçalho */
}
section.pontos h2{
    color: #323851;
    margin: 5px;
}
div.atributo{ /* Para todas as divs */
    margin: 10px;
    padding: 10px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    font-weight: 800; /* Peso para todas as fontes da div */
}
div#reacao{
    background-color: #FFF6F7;
}
div#reacao img{ /* Imagem de "reação" */
    margin-right: 10px;
}
div#reacao div.propriedade{ /* "Reação" */
    color: #fc7177;
}
div#memoria{
    background-color: #FFFAF4;
}
div#memoria img{ /* Imagem de "memória" */
    margin-right: 10px;
}
div#memoria div.propriedade{ /* "Memória */
    color: #EBC05C;
}
div#verbal{
    background-color: #F2FDF9;
}
div#verbal img{ /* Imagem de "verbal" */
    margin-right: 10px;
}
div#verbal div.propriedade{ /* "Verbal" */
    color: #41A98D;
}
div#visual{
    background-color: #F4F4FE;
}
div#visual img{ /* Imagem de "visual" */
    margin-right: 10px;
}
div#visual div.propriedade{ /* "Visual" */
    color: #4550CF;
}
span.total{ /* Configuração de "/ 100" */
    color: #ADA6B1;
}
/* Botão de "Continue" */
div.botao{
    background-color: #303B59;
    color: white;
    padding: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 30px;
}
/* Fazer as media_queries */