@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
     /* Header usa flexbox com wrap para que seus itens possam quebrar para a próxima linha quando necessário */
    background-color: #1F2937;
    height: 240px;
    color: white;
    display: flex;
    flex-flow: row wrap; /* Flex na horizontal, permitindo quebra de linha */
}

div#primeira_linha{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: red;
    width: 100%; /* Ocupa toda a largura disponível, fazendo com que os itens adjacentes quebrem para a próxima linha */
}
p#logo{
    color: #F9F1F8;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
ul{
    li{
        display: inline;
        padding: 10px;
        list-style-type: none;
        color: #E5E7EB;
        font-size: 18px;
    }
}
div#segunda_linha{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}
button{
    width: 100px;
}
div#imagem_cabecalho{
    background-color: #6D747D;
    width: 100px;
    height: 70%;
}