@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: #1F2937;
    color: white;
    padding: 5px 10px 50px 10px;
}
div#barra_cabecalho{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
div#logo{
    color: #F9F1F8;
    font-size: 24px;
}
ul#links{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
div#conteudo{
    /* Separa os itens (h1, p, button) da div#imagem_cabeçalho */
    display: flex;
    justify-content: space-around;
}
h1#titulo{
    color: #F9F1F8;
    font-size: 48px;
    font-weight: 800;
}
p#subtitulo{
    max-width: 450px;
    color: #E5E7EB;
    font-size: 18px;
    line-height: 30px;
    
}
button{
    width: 200px;
    padding: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: 0.3s; /* 0.3segundos para fazer a transição (do hover */
}
button:hover{
    transform: scale(1.1) /* Botão aumenta em 10% */
}
div#imagem_cabecalho{
    display: flex;
    flex: 0 1 400px; /* Grow => Shrink => Basis */
    background-color: #6D747D;
    height: 140px;
    justify-content: center;
    align-items: center;
}