@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #e5e3e2;
    button{
        margin-right: 70px;
        padding: 10px;
        background-color: #D2B48C;
        border: none;
        width: 145px;
        height: 35px;
        display: none;
    }
    button:hover{
        cursor: pointer;
        width: 155px;
        height: 45px;
        border: 2px solid black;
    }
    h1{
        margin-left: 70px;
    }
}
main {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    button#adicionar{
        background-color: gray;
        font-size: 2em;
        border: none;
        padding: 10px;
        margin: auto;
    }
    button#adicionar:hover{
        background-color: #D8D8D8;
    }
    button{
        cursor: pointer;
    }
}
div#cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

}
div.card{
    background-color: #FAF3E0;
    width: 30%; /* Largura para caber 3 cartões em uma mesma linha */
    height: 250px;
    margin: 15px; 
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p, button{
        margin-top: 15px;
        font-size: 1.5em;
    }
    button{
        width: 90%;
    }
}
form#formulario{
    background-color: rgb(192, 192, 192);
    min-width: 300px;
    max-width: 400px;
    max-height: 450px;
    min-height: 350px;
    border-radius: 15px;
    border: 2px solid black;
    position: fixed; /* Elemento fica fixo na tela (independente da rolagem) */
    /* Centralizo o formulário no meio da página */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Formulário ficará por cima de outros elementos não tela que tenham um z-index menor ou não tenham z-index definido */
    z-index: 4;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h1{
        font-size: 1.7em;
    }
}
form#formulario input[type="text"]{
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    border: none;
    font-size: 1.4em;
}
form#formulario button{
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    background-color: #45A049;
    border: none;
    font-size: 1.3em;
}
form#formulario label{
    margin-top: 10px;
    font-size: 1.3em;
}
form#formulario input[type="checkbox"] {
    transform: scale(1.5); /* Aumenta em 1.5x */
    margin-left: 10px;
}
form#formulario input[type="range"] {
    margin-top: 10px;
}
form#formulario input[type="submit"] {
    width: 90%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}