@charset "UTF-8";
/* Configurações globais */
:root{
    --fonte_padrao: "Poppins", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/images/bg-intro-mobile.png);
    background-color: #FF7978;
    font-family: var(--fonte_padrao);
    width: 95vw; /* Deixei em 95vw para evitar rolagem lateral */
    height: 100vh;
}
div#container{ /* Vai centralizar todo o conteúdo na tela */
    margin: auto;
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; /* Alinha horizontalmente */
}
div#left{
    padding-top: 40px;
}
header{
    margin: auto;
    color: white;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 700;
    width: 202px; /* Faz com que o texto quebre em 2 linhas (e fique alinhado) */
}
p#descricao{
    margin-top: 10px; /* Afasta o elemento do header */
    color: white;
    text-align: center;
}

div#botao_teste{
    background-color: #5D54A3;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.290);
    padding: 8px 2px 8px 2px; /* 8px em cima e embaixo */
}
div#botao_teste p{
   width: 55%; /* Espreme o elemento fazendo com que a quebra de texto aconteça */
   margin: auto; /* Centraliza em relação ao elemento pai ("div#botao_teste") */
}
div#container_formulario{
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px; /* Espaço entre cada item dentro desse container */
    padding: 30px;
}
div#container_formulario input{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}
div#container_formulario input.input{ /* Eles recebem essa classe pra que eu consiga remover ela no javascript se o campo estiver vazio. Quando removida, eles irão receber outra classse com outras configurações */
    border: 2px solid black;
}
div#container_formulario button#id_teste_gratis{
    padding: 15px;
    color: white;
    background-color: #36CD8A;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.290);
}
div#container_formulario p{
    color: #C1BFCC;
    text-align: center;
    font-size: 0.8em;
    & span{
        color: #EC8586;
    }
}
.placeholder_vermelho::placeholder { /* Muda o placeholder */
    display: flex;
    color: #D18E8D;
}
.placeholder_vermelho { /* Muda o elemento inteiro */
    border: 2px solid #D18E8D;
}

@media screen and (min-width: 1000px) {
    body{
    }
    div#container{
        flex-flow: row nowrap;
        justify-content: space-evenly; /* Alinha horizontalmente */
        align-items: center; /* Alinha verticalmente */
    }
    div#left{
    }
    header{
        font-size: 2.2em;
        width: 300px; /* Faz com que o texto quebre em 2 linhas (e fique alinhado) */
        font-weight: 800;
        line-height: 1.2em;
    }
    p#descricao{
        width: 450px; /* Limita o espaço do elemento */
    }
    div#right{
        margin-top: 60px;
        height: 500px;
    }
    div#botao_teste{
        text-align: center;
        cursor: pointer;
        border-radius: 7px;
        box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.290);
        padding: 13px 2px 13px 2px; /* 13px em cima e embaixo */
    }
    div#botao_teste p{
        width: 100%; /* Preenche todo o elemento pai */
    }

}