@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(to right, #654ea3, #eaafc8);
}
main {
  display: flex;
  /* Centraliza o tabuleiro e o título na página */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header {
  font-size: 2.5em;
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
}
div#tabuleiro {
  display: grid;
  border: 3px solid black;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  gap: 5px;
}
div#tabuleiro div {
  /* Centraliza os itens dentro */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 5em;
  border: 1px solid black;
  background-color: #222;
  color: white;
  transition: 0.2s ease; /* Deixa a transição suave */
}
div#tabuleiro div:hover {
  background-color: #444;
  cursor: pointer;
  transform: scale(1.05); /* dá um leve aumento */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* brilho leve */
}
form {
  margin-top: 10px;
  font-size: 1.5em;
}
form input {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}
form input[type="submit"] {
  width: 300px;
}
form input[type="submit"]:hover {
  cursor: pointer;
}
