@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 400px;
    height: 580px;
    background-color: #AAAAAA;
    border: 2px solid black;
    padding: 20px;
}
section#display{
    background-color: #EEEEEE;
    width: 100%;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}