@charset "UTF-8";
/* Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    text-align: center;
}
div#container{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 580px; /* Altura fixa da área do desenho */
    background-color: rgb(97, 50, 50);
}
div.quadrado{
    background-color: blue;
    border: 1px solid black;
    height: 36.25px; /* 580px(Altura total da tela menos 19px do "button") dividido pra 16 quadrados = 36.25px
    /* Flex => flex-grow flex-shrink - flex basis */
    flex: 1 1 6.25%; /* 100% (width da tela) dividido por 16 (quadrados por linha) dá 6,25% (Cada quadrado tem esse tamanho pra que sempre tenha um número fixo de quadrados por linha) */
}
div.quadrado_ativo{
    background-color: orange;
}